<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore requestTimeout="08:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
			<environmentVariables>				
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
				<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="36600" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
		<httpProtocol>
			<!--<customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>-->
		</httpProtocol>
	</system.webServer>
</configuration>